.git
.gitignore
README.md
Dockerfile
.dockerignore
.docker
node_modules
npm-debug.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.staging.local
build/
dist/
*.log
*.swp
*.swo
*~
.vscode
.idea
coverage/
.nyc_output/
.pytest_cache/
test/
tests/
public/product_bulk_sample.csv