# Ignore git directory
.git/
.github/

# Ignore frontend dependencies and builds
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.DS_Store
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Ignore backend environments and caches
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/.Python
backend/env/
backend/venv/
backend/.venv/
backend/pip-log.txt
backend/pip-delete-this-directory.txt
backend/.tox/
backend/.coverage
backend/.coverage.*
backend/.cache
backend/nosetests.xml
backend/coverage.xml
backend/*.cover
backend/*.log
backend/.pytest_cache/
backend/instance/

# Ignore local environment variable files directly mapping secrets
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
